.modal {
	width: 40%;
	margin: auto;
	padding: 2rem;

	background-color: var(--background-secondary);

	& h2 {
		text-align: center;
		font-size: 3rem;
	}

	& h3 {
		font-size: 2.5rem;
		text-align: right;
	}

	& p {
		font-size: 1.5rem;
		padding-bottom: 1rem;

		width: fit-content;

		& svg {
			margin-right: .5rem;
			height: 2rem;
			width: 2rem;
		}

		& a { color: var(--link); }
	}

	& div {
		margin: auto;
		width: fit-content;
	}
}

.modal::backdrop {
	background-color: rgba(0, 0, 10, 0.5);
}

.close {
	position: absolute;
	top: 0;
	right: 0;

	font-size: 2rem;
	margin: .5rem;
	padding: 0 .5rem;
}