.modal {
	width: 40%;
	margin: auto;
	padding: 2rem;

	background-color: var(--background-secondary);

	& h2 {
		text-align: center;
		font-size: 3rem;
	}

	& h3 {
		font-size: 2.5rem;
		text-align: right;
		padding: 0 0 1.5rem;
	}

	& p {
		font-size: 1.5rem;
		padding-bottom: 1rem;

		width: fit-content;

		& svg {
			margin-right: .5rem;
			height: 2rem;
			width: 2rem;
		}

		& a {
			color: var(--link);
			&:hover {
				text-decoration: underline;
			}
		}
	}

	& div {
		margin: auto;
		width: fit-content;
	}
}

.modal::backdrop {
	background-color: rgba(0, 0, 10, 0.5);
}

.close {
	position: absolute;
	top: 0;
	right: 0;

	font-size: 2rem;
	margin: 1rem;
	padding: 0 .5rem;
}

@media screen and (max-width: 1100px) {
	.modal {
		width: 80%;
	}

	.close {
		font-size: 3rem;
	}
}