.google {
  margin-top: 1rem;
  padding: 0 10px 0 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 1000px;

  color: #1f1f1f;
  background: #F2F2F2;

  font-size: 14px;
  font-weight: 450;
}