.nav {
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	padding: 1rem 20vw;
	border-bottom: 1px solid white;

	& svg:hover {
		cursor: pointer;
		color: var(--foreground-secondary);
	}
}

.left {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.right {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

.fa {
	font-size: 2rem;
	margin: auto;
	padding: 0 .5rem;
}

.center {
	font-size: 2rem;
}

@media (max-width: 1100px) {
	.nav {
		padding: 1rem 5vw;
	}

	.center {
		font-size: 1.25rem;
	}
}