.complete {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	padding: 1rem;

	height: 75vh;

	& h1 {
		color: var(--foreground-secondary);
		font-size: 2rem;
	}

	& p {
		font-size: 1.5rem;
	}
}

.topBox {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	width: 40vw;

	padding: .5rem;

	background: var(--link);

	& img {
		height: 12vh;
		width: auto;
		aspect-ratio: 1/1;

		border-radius: 8px;
	}

	& span {
		margin: auto 1rem;
		display: flex;
		flex-flow: column nowrap;

		& p:first-child {
			font-size: 1.5rem;
		}

		& p:last-child {
			font-size: 1.25rem;
		}
	}

	& a {
		margin: auto 1rem;
		font-size: 1.25rem;
		white-space: nowrap;
	}
}

.leftBlock {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.middleSection, .bottomSection {
	text-align: center;
}

.barsHolder {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	gap: 2px;
	margin: .5rem;

	& .attemptBlock {
		width: 1.5rem;
		height: .5rem;

		background-color: var(--background-secondary);

		&.wrong {
			background-color: #aa0000;
		}

		&.correct {
			background-color: #00aa00;
		}

		&.skip {
			background-color: var(--foreground-secondary);
		}
	}
}

@media (max-width: 1100px) {
	.bottomSection {
		margin-bottom: 5vh;
	}

	.topBox {
		width: 80vw;
	}
}

@media (max-width: 440px) {
	.topBox img {
		display: none;
	}
}

@media (max-height: 800px) {
	.bottomSection {
		margin-bottom: 12vh;
	}
}